<p id="notice"><%= notice %></p>

<p>
  <strong>Your Point</strong>
    <% @total = 0 %>
    <% @subjects.each do |subject| %>
       <% @total+=subject.report.mypoint>
    <% end %>
</p>
       
<p>
  <strong>Name:</strong>
  <%= @subject.name %>
  <%= @subject.report.name %>
   <% @subject.contents.each do |content|  %>
   <p><%=content.name%></p>
   <%end%>
</p>

<p>
  <strong>Border:</strong>
  <%= @subject.border %>
</p>

<p>
  <strong>Maxpoint:</strong>
  <%= @subject.maxpoint %>
</p>

