<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @content.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @content.subject_id %>
</p>

<p>
  <strong>Report:</strong>
  <%= @content.report_id %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @content.attendance_id %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
